<div class="bg-cream p-6 rounded-lg shadow-lg max-w-full sm:max-w-3xl mx-auto animate-fade-in">
  <h2 class="text-3xl sm:text-4xl font-heading font-bold text-olive text-center mb-8">
    Programa
  </h2>

  <!-- Schedule List -->
  <div class="space-y-6">
    @for (event of weddingSchedule;track event; let i = $index) {
      <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transform hover:scale-105 transition duration-300 animate-slide-up">
        <div class="flex items-center justify-between sm:space-x-6 mb-4">
          <!-- Event Time -->
          <div class="text-2xl sm:text-3xl font-bold text-olive">
            {{ event.time }}
          </div>
          <div class="h-1 sm:w-12 w-8 bg-olive"></div>
        </div>

        <!-- Event Title -->
        <h3 class="text-xl sm:text-2xl font-heading font-semibold text-olive mb-2">
          {{ event.event }}
        </h3>

        <!-- Event Description -->
        <!-- <p class="text-lg font-body text-gray-700">{{ event.description }}</p> -->
      </div>
    }
  </div>
</div>
